<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Ciclos</title>
</head>
<body>
<section layout:fragment="content">

    <div th:replace="layout/fragments/components :: sucess(attribute='msg')">
        Success
    </div>

    <a class="btn btn-outline-info mb-5" href="/admin/cycles/form" th:if="${@authenticatedUser.isPeople()}" >Novo</a>

    <table class="table table-hover">
        <thead>
        <th>Nome</th>
        <th class="text-center">Ações</th>
        </thead>
        <tbody>
        <tr th:each="cycle : ${cycleList}">
            <td style="width: 22em" th:text="${cycle.name}">
                Nome
            </td>
            <td class="d-flex flex-row justify-content-around">
                <a class="text-primary fas fa-pencil-alt"  th:if="${@authenticatedUser.isPeople()}"  th:href="@{/admin/cycles/{id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom"  title="Editar"></a>
                <a class="text-secondary fas fa-external-link-alt" th:if="${@authenticatedUser.isPeople()}"  th:href="@{/admin/questions?cycleId={id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom" title="Perguntas do ciclo"></a>                
                <a class="text-danger far fa-trash-alt" th:if="${@authenticatedUser.isPeople()}"  th:href="@{/admin/cycles/remove/{id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom" title="Remover ciclo"></a>                
                <a class="text-secondary fas fa-table" th:href="@{/reports/feedbak/compare-number-answers?cycleId={id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom"  title="Taxa de respostas"></a>                               
                <a class="text-secondary fas fa-table" th:href="@{/reports/feedbak/compare-number-answers-values?cycleId={id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom"  title="Notas dos times"></a>                               
                <a class="text-secondary far fa-comment-alt" th:href="@{/reports/feedback/raw-answers?cycleId={id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom"  title="Notas e comentários do ciclo"></a>                               
                <a class="text-secondary far fa-chart-bar" th:href="@{/admin/reports/feedback/values/barchart?cycleId={id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom"  title="Grafico de barras com media geral por questão"></a>                               
                <a class="text-secondary far fa-chart-bar" th:href="@{/admin/reports/feedback/values/barchart/search/team/form?cycleId={id}(id=${cycle.id})}" data-toggle="tooltip" data-placement="bottom"  title="Grafico de barras com média do time por questão"></a>
            </td>
        </tr>
        </tbody>

    </table>

</section>
</body>
</html>