<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{/admin/questions}" th:object="${questionForm}" method="post">

        <input th:if="${questionForm.id != null}" type="hidden" th:field="*{id}">

        <div class="form-group">
            <input th:errorclass="is-invalid" class="form-control" th:field="*{statement}" placeholder="Afirmação em questão" type="text">
            <span class="text-danger" th:if="${#fields.hasErrors('statement')}" th:errors="*{statement}"></span>
        </div>

        <div class="form-group">
            <input th:errorclass="is-invalid" class="form-control" th:field="*{descriptionOfLowerValue}" placeholder="Significado para menor valor" type="text">
            <span class="text-danger" th:if="${#fields.hasErrors('descriptionOfLowerValue')}" th:errors="*{descriptionOfLowerValue}"></span>
        </div>

        <div class="form-group">
            <input th:errorclass="is-invalid" class="form-control" th:field="*{descriptionOfHighestValue}" placeholder="Significado para maior valor" type="text">
            <span class="text-danger" th:if="${#fields.hasErrors('descriptionOfHighestValue')}" th:errors="*{descriptionOfHighestValue}"></span>
        </div>

        <div class="form-group">
            <input th:errorclass="is-invalid" class="form-control" th:field="*{dueDate}"  placeholder="Data de validade da pergunta(dd/MM/yyyy)">
            <span class="text-danger" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
        </div>
        
        <div class="form-group">
        	<label class="font-weight-bold" for="time">Última afirmação do ciclo?</label>
            <input th:errorclass="is-invalid" class="form-control" th:field="*{lastOne}" placeholder="É a última pergunta do ciclo" type="checkbox">
            <span class="text-danger" th:if="${#fields.hasErrors('lastOne')}" th:errors="*{lastOne}"></span>            
        </div>        
        
        <div class="form-group">
            <label class="font-weight-bold" for="time">Categoria</label>
            <select th:errorclass="is-invalid" id="t" class="form-control" name="categoryType" th:field="*{categoryType}" required>
                <option value="" selected disabled>Escolha uma categoria...</option>
                <option th:each="categoryType : ${categoryTypeList}" th:value="${categoryType.name()}" th:text="${categoryType.label}"/>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('categoryType')}" th:errors="cycleId"></span>
        </div> 
               
        <div class="form-group">
            <label class="font-weight-bold" for="time">Pertence a qual ciclo?</label>
            <select th:errorclass="is-invalid" id="cycleId" class="form-control" name="cycleId" th:field="*{cycleId}" required>
                <option value="" selected disabled>Escolha um ciclo...</option>
                <option th:each="cycle : ${cycleList}" th:value="${cycle.id}" th:text="${cycle.name}"/>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('cycleId')}" th:errors="cycleId"></span>
        </div>        

        <button class="btn btn-block btn-info">Salvar</button>
    </form>
</section>
</body>
</html>