<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="layout/fragments/components :: sucess(attribute='msg')">
        Success
    </div>

    <a class="btn btn-outline-info mb-5" href="/admin/questions/new">Novo</a>
    
    
	<form th:action="@{/admin/questions}" th:object="${questionsFilterForm}" method="get">
	
        <div class="form-group">
            <label class="font-weight-bold" for="time">Ciclo</label>
            <select th:errorclass="is-invalid" class="form-control" name="cycleId" th:field="*{cycleId}">
                <option value="" selected>Todos</option>
                <option th:each="cycle : ${cycleList}" th:value="${cycle.id}" th:text="${cycle.name}"/>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('cycleId')}" th:errors="cycleId"></span>            			           
        </div>        
        	
        <div class="form-group">
            <label class="font-weight-bold" for="time">Categoria da pergunta</label>
            <select th:errorclass="is-invalid" class="form-control" name="categoryType" th:field="*{categoryType}">
                <option value="" selected>Todos</option>
                <option th:each="category : ${categoryList}" th:value="${category.name()}" th:text="${category.label}"/>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('categoryType')}" th:errors="categoryType"></span>            			           
        </div>		
        
        <button class="btn btn-block btn-info">Filtrar</button>
	</form>    

    <table class="table table-hover">
        <thead>
        <th>Afirmação</th>
        <th>Data para expiração</th>
        <th>Ações</th>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}" th:id="'question_' + ${question.id}">
            <td style="width: 25em" th:text="${question.statement}">Statement</td>
            <td th:text="${#temporals.format(question.dueDate, 'dd/MM/yyyy')}"></td>
            <td class="d-flex flex-row justify-content-around">
                <a class="text-secondary fas fa-external-link-alt" th:href="@{/questions/{uuid}(uuid=${question.hash})}" data-toggle="tooltip" data-placement="bottom" title="Ir para pergunta"></a>
                <a class="text-secondary fas fa-pencil-alt" th:href="@{/admin/questions/{id}(id=${question.id})}" data-toggle="tooltip" data-placement="bottom" title="Editar"></a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>