<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="layout/fragments/components :: sucess(attribute='msg')">
        Success
    </div>

    <a class="btn btn-outline-info mb-5" href="/admin/questions/new">Novo</a>

    <table class="table table-hover">
        <thead>
        <th>Afirmação</th>
        <th class="text-center">Ações</th>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}" th:id="'question_' + ${question.id}">
            <td style="width: 35em" th:text="${question.statement}">Statement</td>
            <td class="d-flex flex-row justify-content-around">
                <a class="text-secondary fas fa-external-link-alt" th:href="@{/questions/{uuid}(uuid=${question.hash})}" data-toggle="tooltip" data-placement="bottom" title="Ir para pergunta"></a>
                <a class="text-secondary fas fa-pencil-alt" th:href="@{/admin/questions/{id}(id=${question.id})}" data-toggle="tooltip" data-placement="bottom" title="Editar"></a>
                <a class="text-primary fas fa-lock-open" th:if="${question.currentState.isOpen()}"  th:onclick="'changeState('+${question.id}+',\'CLOSE\')'"  data-toggle="tooltip" data-placement="bottom" title="Clique para fechar a pergunta"></a>
                <a class="text-secondary fas fa-lock" th:if="${question.currentState.isClosed()}"   th:onclick="'changeState('+${question.id}+',\'OPEN\')'"  data-toggle="tooltip" data-placement="bottom" title="Clique para abrir a pergunta"></a>
                <a class="text-danger far fa-trash-alt" th:onclick="'remove('+${question.id}+')'" href="#" data-toggle="tooltip" data-placement="bottom"  title="Remover"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{layout/fragments/components :: pagination(baseURL=@{/admin/questions},page=${questions})}">
        Pagination
    </div>
</section>
<script layout:fragment="scripts">
    function remove(id){
        let url = "/admin/questions/" + id;

        fetch(url, {'method': 'DELETE'})
            .then( response => {
                if (response.ok){
                    $("#question_" + id).remove();
                }
            });
    }
    
    function changeState(id, targetState) {
        let url = "/admin/questions/" + id;
        let payload = {"state": targetState};
        let headers = new Headers();

        headers.append('Content-type', 'application/json');

        let request = {"method": 'PUT', headers: headers, body: JSON.stringify(payload)};

        fetch(url, request)
            .then( response => {

                if(response.ok){
                   window.location.href = window.location;
                }else {

                    response.text()
                        .then(response => {
                                $("body section")
                                    .append('<div class="alert alert-danger">' + response + '<a class="close" data-dismiss="alert">×</a></div>');
                        });
                }
        });
        
    }
</script>
</body>
</html>