<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Company Teams</title>
</head>
<body>
<section layout:fragment="content">

    <div th:replace="layout/fragments/components :: sucess(attribute='msg')">
        Success
    </div>

    <a class="btn btn-outline-info mb-5" href="/admin/company-teams/new">Novo</a>

    <table class="table table-hover">
        <thead>
        <th>Nome</th>
        <th>Login do líder</th>
        <th>Total de pessoas</th>
        <th>Ativo</th>
        <th class="text-center">Ações</th>
        </thead>
        <tbody>
        <tr th:each="team : ${teams}" th:id="'team_' + ${team.id}">
            <td style="width: 22em" th:text="${team.name}">
                Nome
            </td>
            <td th:text="${team.leaderLogin}">
                login do lider
            </td>
            <td th:text="${team.totalExpectedPeople}">
                10
            </td>
            <td th:text="${team.isEnable() ? 'Sim' : 'Não'}">
                sim
            </td>
            <td class="d-flex flex-row justify-content-around">
                <a class="text-info fas fa-pencil-alt" th:href="@{/admin/company-teams/{id}(id=${team.id})}" data-toggle="tooltip" data-placement="bottom"  title="Editar"></a>
            </td>
        </tr>
        </tbody>

    </table>
</section>

<script layout:fragment="scripts">
    function remove(id){
        let url = "/admin/company-teams/" + id;

        fetch(url, {'method': 'DELETE'})
            .then( response => {
                if (response.ok){
                    $("#team_" + id).remove();
                }
            });
    }
</script>
</body>
</html>