.main {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #f8f9fa;
    box-sizing: content-box;
}

.nav-area {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
}

.nav-links {
    display: flex;
    list-style-type: none;
}


.nav-item {
    width: 7em;
    text-align: center;
    margin: 1em 1em;

}

.nav-link {
    border: 1px solid #17a2b8;
    border-radius: 10px;
    color: #17a2b8;
}


.nav-link:hover {
    background-color: #17a2b8;
    color: white;
}

.logout {
    border: 1px solid #f08080;
    color: #f08080;
}

.logout:hover {
    color: white;
    background-color: #f08080;
}

.content-area {
    width: 50%;
    padding: 2em;
    margin-top: 1em;
    background-color: white;
}

.rounded{
    border-radius: 10px;
}


.shadow {
    box-shadow: 0 3px 15px gray;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 100%;
    border: 2px solid #bbbbbb;
    display: inline-flex;
    width: 1.2em;
    height: 1.2em;

    transition: background-color 300ms ease-out;
}

input[type='radio']:checked{
    background-color: #17a2b8;
}

#logo {
    background-color: transparent;
    margin: 0;
    width: 6em;
    height: 5em;
}

