.main {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #f8f9fa;
    box-sizing: content-box;
}
@media (max-width: 560px) {
	.header {
		display: none;
	}
}

.nav-area {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
}

.nav-links {
    display: flex;
    list-style-type: none;
}


.nav-item {
    width: 7em;
    text-align: center;
    margin: 1em 1em;
}

.nav-link {
    border: 1px solid #17a2b8;
    border-radius: 10px;
    color: #17a2b8;
    transition: background-color 500ms;
}

.nav-link.active,
.nav-link:hover {
    background-color: #17a2b8;
    color: white;
}

.logout {
    border: 1px solid #f08080;
    color: #f08080;
    transition: background-color 500ms;
}

.logout:hover {
    color: white;
    background-color: #f08080;
}

.content-area {
    width: 70%;
    padding: 2em;
    margin-top: 1em;
    background-color: white;
}
@media (max-width: 560px) {
	.content-area {
		width: 100%;
	}
}

@media print {
	.content-area {
		width: 100%;
		margin-top: 0;
	}
}

.rounded{
    border-radius: 10px;
}


.shadow {
    box-shadow: 0 3px 15px gray;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 100%;
    border: 2px solid #bbbbbb;
    display: inline-flex;
    width: 1.2em;
    height: 1.2em;

    transition: background-color 300ms ease-out;
}

input[type='radio']:checked{
    background-color: #17a2b8;
}

#logo {
    background-color: transparent;
    margin: 0;
    width: 6em;
    height: 5em;
}

/* cores para atenção do relatorio */

.report-positive-1 {
	background-color: rgb(83, 244, 66);
}

.report-positive-2 {
	background-color: rgb(131, 226, 153);
}

.report-positive-3 {
	background-color: rgb(238, 243, 126);
}

.report-warning {
	background-color: rgb(249, 187, 187);
}

.report-danger {
	background-color: rgb(244, 66, 66);
}


/* Ajustes de Formulario */
.radio-question-label {
	transform: translateY(25%);
}
.form-legend {
    margin-bottom: 10px;
    display: block;
    margin-top: 50px;
    width: 100%;
}
@media (max-width: 768px) {
	.hidden-sm-down {
		display: none;		
	}
}
@media (min-width: 769px) {
	.hidden-sm-up {
		display: none;		
	}
}

