<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
	<script src="/js/timeline/react.production.min.js"></script>	    
	<script src="/js/timeline/react-dom.production.min.js"></script>	    
	<script src="/js/timeline/babel.min.js"></script>	    
	<script src="/js/timeline/Timeline.js" type="text/babel"></script>	    
        
</head>
<body>
<section layout:fragment="content">

	<div th:replace="layout/fragments/components :: sucess(attribute='msg')">
	</div>
	
	<div th:replace="layout/fragments/components :: error(attribute='error')">
	</div>

<div class="container py-2" id="react">
</div>    
<!--container-->
</section>
</body>
</html>