<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<section layout:fragment="content">

	<div th:replace="layout/fragments/components :: sucess(attribute='msg')">
	</div>
	
	<div th:replace="layout/fragments/components :: error(attribute='error')">
	</div>

    <form>

        <div class="form-group">
        </div>

        <div class="form-group">
        </div>
        
        <div>
            <button class="btn btn-info btn-block">Enviar</button>
        </div>
    </form>
</section>
</body>
</html>