<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<main class="main">
    <section layout:fragment="content">

		<div th:replace="layout/fragments/components :: sucess(attribute='msg')">
		</div>        	

        <div th:if="${question.isClosed()}" id="myModal" class="modal modal-open fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Questão fechada</h5>
                    </div>
                    <div class="modal-body">
                        Essa questão já foi encerrada!
                    </div>
                </div>
            </div>
        </div>
        
        <div th:if="${answerForm.isDone()}" id="answeredModal" class="modal modal-open fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Obrigado pela resposta!</h5>
                    </div>
                    <div class="modal-body">
                        Você já pode fechar a página :). 
                    </div>
                </div>
            </div>
        </div>        

        <h3>Feedback Caelum</h3>


        <p th:if="${question.isFirst()}" th:text="${question.cycle.welcomeText}">
            Olá! <br><br>

            Começamos agora nossa segunda rodada de ciclo de feedback!
            (primeira para o Rio, sejam bem vindos! :D) <br><br>


            Segue o mesmo esquema: 6 perguntas, 1 por semana e depois divulgamos os resultados.
            Por favor, não deixem de responder! (carinha do gatinho do Shrek aqui)
            As respostas são anônimas, então sintam-se livres para dizer o que pensam.
        </p>
        
        <p th:if="${question.isLastOne()}" th:text="${question.cycle.closingText}">
            Olá! <br><br>

            Começamos agora nossa segunda rodada de ciclo de feedback!
            (primeira para o Rio, sejam bem vindos! :D) <br><br>


            Segue o mesmo esquema: 6 perguntas, 1 por semana e depois divulgamos os resultados.
            Por favor, não deixem de responder! (carinha do gatinho do Shrek aqui)
            As respostas são anônimas, então sintam-se livres para dizer o que pensam.
        </p>

        <form th:object="${answerForm}" th:action="@{/questions/{uuid}(uuid=${uuid})}" method="post">
            <div class="form-group">
                <label class="font-weight-bold" for="time">Em que time da caelum você trabalha?</label>
                <select th:errorclass="is-invalid" id="time" class="form-control" name="time" th:field="*{teamId}" required>
                    <option value="" selected disabled>Escolha um time...</option>
                    <option th:each="team : ${allTeams}" th:value="${team.id}" th:text="${team.name}"/>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('teamId')}" th:errors="*{teamId}"></span>
            </div>

            <hr/>

            <p class="bg-secondary text-light p-2 rounded font-weight-bold">
                O quanto você concorda com a afirmação abaixo?
            </p>

            <p th:text="${question.statement}" class="font-weight-bold">
                Eu sinto que nos últimos 30 dias tive tempo suficiente para desempenhar as minhas tarefas
            </p>

            <div class="row d-flex justify-content-center">

                <div class="col-md-2">
                    <p th:text="${question.descriptionOfLowerValue}" class="text-center">Nunca tenho tempo suficiente</p>
                </div>
                <div class="col-md-4 d-flex flex-row justify-content-between">

                    <div class="flex-column">
                        <label class="form-check-label px-1" for="value_1">1</label>
                        <input th:errorclass="is-invalid" th:field="*{value}" value="1" id="value_1" type="radio" name="answer" class="form-check-input m-0" required/>
                    </div>
                    <div class="flex-column">
                        <label class="form-check-label px-1" for="value_2">2</label>
                        <input th:errorclass="is-invalid" th:field="*{value}" value="2" id="value_2" type="radio" name="answer" class="form-check-input m-0" required/>
                    </div>
                    <div class="flex-column">
                        <label class="form-check-label px-1" for="value_3">3</label>
                        <input th:errorclass="is-invalid" th:field="*{value}" value="3" id="value_3" type="radio" name="answer" class="form-check-input m-0" required/>
                    </div>
                    <div class="flex-column">
                        <label class="form-check-label px-1" for="value_4">4</label>
                        <input th:errorclass="is-invalid" th:field="*{value}" value="4" id="value_4" type="radio" name="answer" class="form-check-input m-0" required/>
                    </div>
                    <div class="flex-column">
                        <label class="form-check-label px-1" for="value_5">5</label>
                        <input th:errorclass="is-invalid" th:field="*{value}" value="5" id="value_5" type="radio" class="form-check-input m-0" required/>
                    </div>
                </div>
                <div class="col-md-2">
                    <p th:text="${question.descriptionOfHighestValue}" class="text-center">Sempre tenho tempo suficiente</p>
                </div>
            </div>

            <span class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>

            <hr/>
            <div class="form-group">
                <label class="font-weight-bold">Explique melhor a sua resposta para que possamos entender a sua nota.</label>
                <textarea th:field="*{comments}" class="form-control" placeholder="Sua resposta" rows="5"></textarea>
            </div>
            <hr/>

            <div class="form-group">
                <button class="btn-info btn-lg btn-block rounded">Enviar</button>
            </div>
        </form>
    </section>
</main>
<script th:if="${question.isClosed()}" layout:fragment="scripts">
    $('#myModal').modal()
</script>
<script th:if="${answerForm.isDone()}" layout:fragment="scripts">
    $('#answeredModal').modal()
</script>
</body>
</html>